/* ................Home ......... */

.home {
    height: 100vh;
    height: 45.0625rem;
    margin-bottom: 10rem;
    background-image: url('./Images/home_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    padding: 3rem 5rem 4.44rem 5rem;
    display: flex;
    justify-content: space-between;
}

.main {
    margin: 0 3rem;
    height: 31.95rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.main div {
    width: 32.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.img {
    width: 43rem;
    height: auto;
}

.img img {
    height: 100%;
    width: 100%;
}

.main div h1 {
    color: #00252E;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
}

.main div p {
    color: #00252E;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
}

.try-it-free {
    width: 12.5rem;
    height: 3rem;
    border: none;
    background-color: var(--color-white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    color: var(--color-black);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.try-it-free:hover {
    color: var(--color-grey);
}

.getStarted {
    width: 17.5rem;
    height: 3.5rem;
    border: none;
    background-color: var(--color-pink);
    box-shadow: drop-shadow(0px 6px 13px rgba(0, 37, 46, 0.22));
    border-radius: 2rem;
    color: var(--color-white);
    text-align: center;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.getStarted:hover {
    background-color: #FF9ADB;
}

/* ................About........... */

.container {
    margin: 2rem 6.5rem 2rem 6.5rem;
}

.about {
    margin-top: 2rem;
    min-height: 27.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
}

.about:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.about-details {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-details div {
    max-width: 30.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.about-details div h1 {
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.625rem;
}

.about-details div p {
    color: var(--color-grey);
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
}

.middle-about {
    flex-direction: row-reverse;
    gap: 2rem;
}

.image-container {
    width: 26.12138rem;
    height: 18.57519rem;
}

.image-container img {
    height: 100%;
    width: 100%;
}

/* ..................................... */
.model {
    width: 100%;
    position: relative;
    z-index: 1;
}

.model div {
    width: 50rem;
    height: 17.5rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 6rem auto -6rem auto;
}

.model div h1 {
    color: #00252E;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem;
}

/* ................Footer................ */

.footer-item {
    width: 100%;
    min-height: 26.125rem;
    padding: 9rem 4.88rem 4rem 7.5rem;
    background-color: var(--color-midnightBlue);
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.footer-item>* {
    max-width: 20rem;
    min-height: 13.125rem;
}

.footer-links ul,
.social-links p,
.contact-list ul {
    list-style: none;
    color: var(--color-white);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.contact-list ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-list ul li {
    display: flex;
    gap: 1rem;
}
.contact-list ul li > img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
.social-links ul {
    padding-top: 2.5rem;
    list-style: none;
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.social-links ul li img {
    width: 2.9515rem;
    height: 2.9375rem;
    margin: 0.1rem;
}

.social-links ul li img:hover {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(310deg)
		brightness(118%) contrast(119%);
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2.5rem;
    cursor: pointer;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 569px)  and (max-width: 979px) {
    html{
        font-size: 12px;
    }
    .model div {
        width: 40rem;
    }
} 
@media screen and (max-width: 568px) {
    .home {
        min-height: 45.0625rem;
        background-image: url('./Images/home_background_mobile.svg');
    }

    nav {
        padding: 3rem 2rem 4.44rem 2rem;
    }

    nav img {
        width: 6rem;
        height: 1.5rem;
    }

    .try-it-free {
        width: 6rem;
        height: 1.5rem;
        border-radius: 0.75rem;
        background: #FFF;
        box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
    }

    .getStarted {
        width: 15rem;
        height: 2.5rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        background: #FF52C1;
        box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
    }

    .main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .main div {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main div p {
        width: 19rem;
        color: #00252E;
        text-align: center;
        font-family: Open Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .main div h1 {
        color: #00252E;
        text-align: center;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.25rem;
    }

    .img {
        margin: 1rem;
        width: 18.5rem;
        height: 13.0625rem;
    }

    /* .......About Section........... */
    .container {
        margin: 2rem 2rem 2rem 2rem;
    }

    .about-details {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .about-details>div {
        text-align: center;
    }

    .model div {
        width: 19.5rem;
        height: 11rem;
    }

    .model div h1 {
        color: #00252E;
        text-align: center;
        font-family: Poppins;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.875rem;
    }

    .image-container {
        width: 14.75rem;
        height: 12.125rem;
    }

    /* ................Footer.......... */
    .footer-item {
        flex-direction: column;
        padding: 9rem 4.88rem 4rem 2.5rem;
        gap: 0rem;
    }

    .footer-item>* {
        min-height: 8.125rem;
    }
}